body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.custom-header {
    background-color: rgb(110, 164, 244);
    color: #333;
    padding: 3rem 0;
    margin-bottom: 2rem;
}

.custom-header h1 {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.custom-header p {
    font-size: 1.2rem;
    opacity: 0.8;
    text-align: center;
}

.custom-column {
    background-color: rgb(110, 164, 244);
    border-radius: 8px;
    padding: 1.5rem;
    height: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align:center;
    
}

.custom-column:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.custom-column h2 {
    color: #333;
    margin-bottom: 1rem;
}


@media (max-width: 767px) {
    .custom-column {
        margin-bottom: 1rem;
    }
}